<div class="container text-center">
	<% @locations.each do |location| %>
    <div class="card-owner">
      <img class="card-img-top" src= <%= location.photo %> >
      <div class="card-owner-infos">
        <div>
          <h2><%= link_to location.name, location_path(location) %></h2>
          <p><%= location.description %></p>
          <p><%= location.price %> 0$CAD / day</p>
          <p><strong><%= location.category %></strong></p>
        </div>
        <div class="price-book">
          <p class="booking-date"></p>
          <p class="card-owner-pricing"></p>
          <p class="fas fa-lightbulb"></p>
          <p>Status Pending</p>
          <%= link_to location_path(location.id), method: :delete, data: {
          confirm: 'Are you sure?'} do %>
            <i class="btn btn-danger delete-link">Delete listing</i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
	<%= link_to "Add a new location", new_location_path, class: "btn btn-primary btn-lg new-location-btn m-3" %>
</div>

