<div class="container text-center">
<h1>Owner dashboard</h1>
  <%= link_to "Add a new location", new_location_path, class: "btn btn-primary btn-lg new-location-btn m-3"  %>
  <div>

<div class="container d-flex justify-content-around dash-menu">
	<div>
		<ul class="list-inline tabs-underlined">
		  <li>
		    <a href="#" class="tab-underlined active">Bookings</a>
		  </li>
		  <li>
		    <a href="#" class="tab-underlined">Requests</a>
		  </li>
		  <li>
		    <a href="#" class="tab-underlined">Favorites</a>
		  </li>
		  <li>
		    <a href="#" class="tab-underlined">Messages</a>
		  </li>
		</ul>
	</div>
</div>


  <% @locations.each do |location| %>
  <div class="card-owner">
    <img class="card-img-top" src= <%= location.photo %> >
  <div class="card-owner-infos">
    <div>
      <h2><%= link_to location.name, location_path(location) %></h2>
      <p><%= location.description %></p>
      <p><%= location.price %> $CAD / day</p>
      <p><strong><%= location.category %></strong></p>
    <div>
    </div>
    </div>
    <div class="price-book">
    <p class="booking-date">Todo booking date</p>
    <p class="card-owner-pricing">total price to do $CAD</p>
    <p class="fas fa-lightbulb"></p>
    <p>Status Pending</p>
    <%= link_to location_path(location.id), method: :delete, data: {
      confirm: 'Are you sure?'} do %>
      <i class="btn btn-danger"">Cancel Booking</i>
      <% end %>
    </div>
      </div>
    </div>
  <% end %>




