<div class="top-container text-center">
  <div class="logo-title">
  <%= image_tag "logo-title.svg", alt: "Logo", width: 200, id:"fa-film" %>
  <h1 id="title">Movie Scout</h1>
  </div>
  <h1 id="title">Looking for the best location...</h1>
  <%= render 'shared/searchbar' %>
</div>

<div class="container text-center middle">
  <h1>You are in index of locations</h1>
    <div class="container text-center d-grid row row justify-content-center">
      <% @locations.each do |location| %>
        <div class="card-trip">
          <img class="card-img-top" src= <%= location.photo %> >
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to location.name, location_path(location) %></h2>
              <p><%= location.description %></p>
              <p><strong><%= location.category %></strong></p>
            </div>
            <h2 class="card-trip-pricing"><%= location.price %> $CAD</h2>
          </div>
        </div>
      <% end %>
    </div>
</div>



