
<div class="top-container text-center">
  <h1 id="title">Make a search...</h1>
  <%= render 'shared/searchbar' %>
</div>
<div class="container text-center middle">
<h1>You are in index of locations</h1>
<div class="container text-center d-grid row row justify-content-center">
  <% @locations.each do |location| %>
    <div class="card m-3" style="width: 18rem;">
      <div class="card-body">
         <h5 class="card-name"><%= link_to location.name, location_path(location)%></h5>
         <p class="card-description"><%= location.description %></p>
         <p class="card-address"><%= location.address %></p>
         <p class="card-price"><%= location.price %></p>
         <p class="card-price"><%= location.category %></p>
       </div>
    </div>
  <% end %>
      <%= link_to "new location", new_location_path, class: "btn btn-primary btn-lg"  %>
</div>

</div>


